body ={
    background-color = #000000;
    text-align: center;
    from-family: Verdana, Geneva, Tahoma, sans-serif
}

.header--main{
    font-weight: normall;
    font-size: 50px;
    color: #ffffff

}